/* CHANGE TOAST POSITION */
@media only screen and (min-width: 993px){
	#toast-container {
		top: 12px !important;
	    right: 12px !important;
	}
}

.toast a.toast-action,
.toast button.toast-action {
	margin: 0 0 0 1rem;
    font-weight: bold;
}
.toast .material-icons {
	margin-right: 14px;
}
