#topsection {
	margin-top: 0;
	background: linear-gradient(174deg, #1790fb, #493bbb);
}
#topsection h5 {
	font-family: 'Montserrat', sans-serif;
}
#topsection h5[data-content="title-text"] {
	color: white;
	letter-spacing: .01em;
	font-size: 3.5vw;
	font-weight: bold;
}
#topsection h5[data-content="changing-text"] {
	color: #64dcdc;
	letter-spacing: .1em;
}

@media only screen and (max-width: 600px) {
	#topsection h5[data-content="changing-text"] {
		font-size: small;
	}
}
@media only screen and (min-width: 600px) {
	#topsection h5[data-content="changing-text"] {
		font-size: medium;
	}
}
@media only screen and (min-width: 992px) {
	#topsection h5[data-content="changing-text"] {
		font-size: larger;
	}
}
@media only screen and (min-width: 1200px) {
	#topsection h5[data-content="changing-text"] {
		font-size: large;
	}
}
