@media only screen and (max-width: 600px) {
	#modal-sites_delete {
		width: 80%;
	}
}
@media only screen and (min-width: 600px) {
	#modal-sites_delete {
		width: 50%;
	}
}
@media only screen and (min-width: 992px) {
	#modal-sites_delete {
		width: 40%;
	}
}
@media only screen and (min-width: 1200px) {
	#modal-sites_delete {
		width: 30%;
	}
}
